.your-class {
    border-radius: 0.5rem;
    border-bottom-right-radius: 0;
  }

.radius{
                
/* border-radius: 100% 0% 21% 79% / 100% 77% 23% 0%; */
            
            
/* border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%; */

            
/* border-radius: 100% 0% 30% 70% / 100% 70% 30% 0%; */


            
            
border-radius: 100% 0% 40% 60% / 100% 57% 43% 0%;

          

          
          
          
}


  